/* 设置默认格式 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing: border-box;
}

body {
    /* 背景图片的位置 */
    background-image: url(./ZT01.jpeg);
    background-size: cover;
    background-position: center center;
    /* 布局设置 */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
    color: white;
}

h1 {
    font-weight: bold;
    font-size: 4rem;
    margin-top: 10rem;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, .1);
    padding: 2rem;
}

.big-text {
    margin: 1rem 2rem;
    font-weight: bold;
    font-size: 5rem;
    line-height: 1;
    /* background-color: red; */
}

.countdown-el {
    text-align: center;
    /* background-color: green; */
}

.countdown-el span {
    /* background-color: yellow; */
    font-size: 1.3rem;
}